<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         bootstrap="bootstrap.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false"
         displayDetailsOnPhpunitDeprecations="false"
         failOnPhpunitDeprecation="false">
  <testsuites>
    <testsuite name="Unit">
      <directory>Unit/</directory>
    </testsuite>
    <testsuite name="Integration">
      <directory>Integration/</directory>
    </testsuite>
  </testsuites>
  <php>
    <const name="OXID_PHP_UNIT" value="true"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">../src</directory>
    </include>
  </source>
</phpunit>
